<div class="fixed left-0 bottom-0 w-100 pa4 z-999 bg-red white tc toast" on:click="reload()">This website has been updated. Please tap to refresh</div>
<style>
.toast {
    animation: slide-up 0.5s ease-out;
}
@keyframes slide-up {
    0% { transform: translate(0, 100%); }
    100% { transform: translate(0, 0); }
}
</style>
<script>
export default {
    methods: {
        reload() {
            window.location.reload();
        }
    },

    setup(TapToReload) {
        TapToReload.show = () => {
            const target = document.createDocumentFragment();
            new TapToReload({ target });
            document.body.appendChild(target);
            
            TapToReload.show = () => {};
        };
    },
};
</script>