<style>
.header {
    position: -webkit-sticky;
    position: sticky;
}    
</style>

<div  class="flex flex-column" style="min-height: 100vh;">
    <header class="header w-100 bb b--black-10 z-9999 bg-white top-0">
        <Nav />
    </header>

    <main class="w-100">
        <div class="mw8 center w-100">
            <slot></slot>
        </div>
    </main>

    <footer class="pv4 pv5-ns bt b--black-10" style="margin-top: auto;">
        <div class="mw8 center w-100 flex flex-row">
            <div>
                <div class="pb2">&copy; 2013 &mdash; {year} Nguyen Huu Phuoc. all rights reserved.</div>
                <div class="pb2">handcrafted with <span class="dark-red"><i class="fa fa-heart"></i></span></div>
                <div class="pb2">built on top of <a href="https://tachyons.io/" class="blue dim link">Tachyons</a> /// <a href="https://sapper.svelte.technology/" class="blue dim link">Sapper</a></div>
            </div>
            <div class="ml-auto tr">
                <div class="pb2"><a href="mailto: {siteData.email}" class="blue dim link">ping me</a> for</div>
                <div class="pb2">questions /// suggestions /// works</div>
            </div>
        </div>
    </footer>
</div>

<script>
import SiteData from './constants/SiteData';

export default {
    components: {
        Nav: '../components/Nav.html',
    },

    data() {
        return {
            year: new Date().getFullYear(),
            siteData: SiteData,
        }
    }
};
</script>