<slot></slot>

<script>
import formValidation from 'formvalidation/core/Core';

export default {
    data() {
        return {
            fv: null,
            sampleCode: null,
        };
    },

    onupdate({ changed, current, previous }) {
        if (current.fv && current.sampleCode && typeof current.fv !== 'boolean' && typeof current.sampleCode !== 'boolean') {
            const sendStatus = () => window.parent.postMessage({
                type: 'DEMO_UPDATE_STATUS',
                from: current.from,
                data: true,
            }, '*');

            const instances = (current.fv.constructor === Array) ? current.fv : [current.fv];
            for (const i in instances) {
                const fv = instances[i];
                fv
                    .on('core.field.notvalidated', () => sendStatus())
                    .on('core.field.validating', () => sendStatus())
                    .on('core.field.invalid', () => sendStatus())
                    .on('core.field.valid', () => sendStatus());

                this.on('destroy', () => {
                    fv.destroy();
                });
            }

            window.parent.postMessage({
                type: 'SAMPLE_CODE',
                from: current.from,
                data: current.sampleCode,
            }, '*');
        }
    },
}
</script>
