<div class="fl w-third br bb b--black-10 {isNew === true ? "relative" : ""}">
    <div class="pa3">
        <h4><a class="blue dim link" href="{url}" title="{name}">{name}</a></h4>
    </div>
    {#if isNew}<p class="absolute top-0 right-0 ma0 white news"></p>{/if}
</div>

<style>
.news {
    border-color: transparent #357edd transparent transparent;
    border-style: solid;
    border-width: 0 40px 40px 0;
    height: 0;
    width: 0;
}

.news::after {
    content: 'news';
    font-size: 50%;
    height: 40px;
    line-height: 20px;
    position: absolute;
    transform: rotate(45deg);
    width: 40px;
}
</style>