<section class="mb4">
    <h2><span class="bb b--gray">Related validators</span></h2>
    <p class="lh-copy">The following validators are similar to this one and might be useful to you.</p>
    <table class="collapse ba br2 b--black-10 pv2 ph3 w-100">
        <tr class="striped--light-gray">
            <th class="pv2 ph3 tl f6 fw6 ttu">Name</th>
            <th class="pv2 ph3 tl f6 fw6 ttu">Description</th>
        </tr>
        {#each relatedValidators as v}
        <tr class="striped--light-gray">
            <td class="pv2 ph3"><a href="/guide/validators/{camelCaseToDash(v.name)}/" class="blue dim link" title="{v.description}">{v.name}</a></td>
            <td class="pv2 ph3 lh-copy">{v.description}</td>
        </tr>
        {/each}
    </table>
</section>

<script>
import AllValidators from './constants/Validators';
import camelCaseToDash from './helpers/camelCaseToDash';

export default {
    data() {
        return {
            validators: [],
            // Private
            relatedValidators: [],
        };
    },

    computed: {
        relatedValidators: ({ validators }) => {
            return AllValidators.filter((v) => {
                return validators.indexOf(v.name) >= 0;   
            });
        },
    },

    helpers: {
        camelCaseToDash,
    },
};
</script>