<td class="pv2 ph3"><span class="link pointer" on:click="click(sample)">{renderSample(sample)}</span></td>
<ReceiveMessage type="DEMO_VALIDATE_RESULT" on:received="receive(event)">
<td class="pv2 ph3">
    {#if result == 'Valid'}
    <i class="fa fa-check"></i>
    {:elseif (result == 'Invalid')}
    <i class="fa fa-times"></i>
    {/if}
</td>
</ReceiveMessage>

<script>
export default {
    components: {
        ReceiveMessage: './ReceiveMessage.html',
    },

    data() {
        return {
            sample: '',
            result: 'NotValidated',
            renderSample: (sample) => sample,
        };
    },

    methods: {
        click(sample) {
            this.store.set({ sampleFieldValue: sample });
        },

        receive(event) {
            const { sample } = this.get();
            const data = event.data;
            if (JSON.stringify(data.input) === JSON.stringify(sample)) {
                this.set({
                    result: data.output,
                });
            }
        },
    },
}    
</script>