<style>
pre {
    min-height: 34px;
}
:global(.hljs) {
    padding: .5rem;
}
</style>

{#if highlighted}
<div class="relative">
    <span class="absolute top-0 right-0 pa2 bg-gray white z-1 pointer" on:click="copy()">{#if copied}Copied{:else}Copy{/if}</span>
    <pre class="pa0 ma0 lh-copy" ref:code>{@html highlighted}</pre>
</div>
{:else}
<div class="ba b--black-10 bg-washed-blue pa0 ma0" ref:container>
    <Loader><pre><code>{@html code}</code></pre></Loader>
</div>
{/if}

<script>
import highlight from './helpers/highlight';

export default {
    components: {
        Loader: './Loader.html',
    },

    data() {
        return {
            code: '',
            lang: 'html',
            // Private
            highlighted: '',
            copied: false,
        };
    },

    oncreate() {
        const { code } = this.get();
        this.highlight(code);
    },

    onupdate({ changed, current, previous }) {
        // Re highlight when the code is changed
        if (previous && current.code !== previous.code) {
            this.highlight(current.code);
        }
    },

    methods: {
        highlight(code) {
            const { lang } = this.get();
            const highlighted = highlight(
                // Replace the fake tags with the real one
                // If I use <link> or <script> tag inside sample code, Sapper tries to load them
                code.replace(/link-tag/g, 'link')
                    .replace(/script-tag/g, 'script'),
                lang
            );

            this.set({
                highlighted,
            });
        },

        copy() {
            const selection = window.getSelection();
            const range = document.createRange();
            range.selectNodeContents(this.refs.code);
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand('copy');

            this.set({
                copied: true,
            });

            selection.removeAllRanges();
        }
    }
}
</script>