<SidebarLink url={url} title={title}><slot></slot></SidebarLink>
{#if enabled}
<TableOfContents content={content} selector={selector} />
{/if}

<script>
export default {
    data() {
        return {
            url: '',
            label: '',
            title: '',
            selector: 'section h2',
            // Private
            enabled: false,
        };
    },

    components: {
        SidebarLink: './SidebarLink.html',
        TableOfContents: './TableOfContents.html',
    },

    oncreate() {
        const { url } = this.get();
        const path = window.location.pathname;
        this.set({
            enabled: path === url || path.startsWith(`${url}#`),
        });
    },
}    
</script>