<style>
.active {
    background: linear-gradient(270deg, #ccc 25%, #f4f4f4 100%);
}    
</style>
<a href="{url}" class="db link {customClasses} {isActive(path, url) ? 'br b--gray bw2 bg-light-gray active' : ''}" title="{title}"><slot></slot></a>
<script>
export default {
    data() {
        return {
            url: '',
            title: '',
            customClasses: 'pv1 pl4',
            isActive: (p, url) => (p === url),
            // Private
            path: '',
        };
    },

    oncreate() {
        this.set({
            path: window.location.pathname,
        });
    },
}    
</script>